name: Flux Scheduler

on:
  schedule:
    - cron: '*/5 * * * *' # Every 5 minutes (GitHub Min)
  workflow_dispatch: # Manual trigger button

jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call Cron Endpoint
        run: |
          curl "${{ secrets.DEPLOY_URL }}/api/cron?key=${{ secrets.CRON_KEY }}"
